<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>安装说明</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/tutorial.css" rel="stylesheet">
	<link href="css\jdc-side-panel.css" rel="stylesheet">
	<link rel="shortcut icon" href="../favicon.ico">
</head>
<body data-spy="scroll" data-target="#myScrollspy">
<div class="container-fluid">
   <div class="jumbotron col-xs-offset-1">
        <h1>安装说明</h1>
    </div>
    <div class="row">
        <div class="col-xs-2" id="myScrollspy">
            <ul class="nav nav-tabs nav-stacked" id="myNav">
				<li class="active"><a href="#section-0">0.说明</a></li>
                <li><a href="#section-1">1.准备</a></li>
                <li><a href="#section-2">2.打开</a></li>
                <li><a href="#section-3">3.安装</a></li>
                <li><a href="#section-4">4.许可</a></li>
				<li><a href="index.html"><<<返回</a></li>
            </ul>
        </div>
        <div class="col-xs-10">
<h2 id="section-0">0.说明</h2>
<p></p>
<hr>
<h2 id="section-1">1.准备</h2>
<p><ol>
<li>1</li>
</ol></p>
<hr>
<h2 id="section-2">2.打开</h2>
<p><ol>
<li>2</li>
</ol></p>
<hr>
<h2 id="section-3">3.安装</h2>
<p><ol>
<li>3</li>
</ol></p>
<hr>
<h2 id="section-4">4.许可</h2>
<p><ol>
<li>4</li>
</ol></p>
        </div>
    </div>
</div>
<hr>
    <div class="copyright" align="center">
     Copyright &copy; <a href="http://daishitong.github.io">dst</a>
    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=65221749&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:65221749:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
    <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=NAIBBgYFAwANdEVFGldbWQ" style="text-decoration:none;"><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_02.png"/></a>
    </div>
<div class="jdc-side" style="display: none;" id="side_div">
  <div class="mod_hang_qrcode jdc_hang_qrcode">
  <a class="mod_hang_qrcode_btn"></a>
    <div class="mod_hang_qrcode_show">
      <div class="mod_hang_qrcode_show_bg" id="qrcode"></div>
      <p>使用手机查看</p>
    </div>
  </div>
</div>
</body>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
<script src="js/jquery.qrcode.min.js"></script>
<script src="js\checkDevice.js"></script>
<script src="js/bdtj.js"></script>
<script>
if(!isMobileDevice())
{
	$("#side_div").show();
	
	$("#qrcode").qrcode({
	width:128,
	height:128,
	text:window.location.href,
});
}
</script>
  <script>
$(document).ready(function(){
    $("#myNav").affix({
        offset: { 
            top: 125 
      }
    });
});
</script>
</html>